
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

@font-face {
    font-family: 'Varino';
    src: url(/TECHetc/assets/Fonts/VarinonormalRegular-1GXaM.ttf);
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 128px;
    padding-right: 128px;
    font-family: 'Varino', sans-serif;
}

@media (max-width: 1024px) {
    .container {
        padding-left: 64px;
        padding-right: 64px;
    }
}

@media (max-width: 767px) {
    .container {
        padding-left: 32px;
        padding-right: 32px;
    }
}

.hamburger {
    position: relative;
    display: block;
    width: 35px;
    cursor: pointer;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar,
.hamburger:after,
.hamburger:before {
    content: "";
    display: block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    margin: 6px 0px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

.hamburger.is-active:before {
    -webkit-transform: rotate(-45deg) translate(-8px, 6px);
    transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active:after {
    -webkit-transform: rotate(45deg) translate(-9px, -8px);
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
    opacity: 0;
}

.mobile-nav {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    min-height: 100vh;
    display: block;
    z-index: 98;
    background-color: #12002f;
    padding-top: 120px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    opacity: 0.95;
}

.mobile-nav.is-active {
    left: 0;
}

.mobile-nav a {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto 16px;
    margin-top: 30px;
    text-align: center;
    padding: 12px 16px;
    background-color: #1f103f;
    color: #f4ebeb;
    text-decoration: none;
}

.mobile-nav a:hover {
    background-color: #24104f;
}

@media (min-width: 768px) {
    .mobile-nav {
        display: none;
    }
    .hamburger {
        display: none;
    }
}

section h2 {
    text-align: center;
    margin-bottom: 32px;
    text-transform: uppercase;
    color: #313131;
    font-size: 36px;
}

.button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    display: inline-block;
    color: #1f06b1;
    font-size: 20px;
    background-color: #ffffff;
    padding: 12px 16px;
    border-radius: 8px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    cursor: pointer;
}

@media (max-width: 767px) {
    .button {
        font-size: 18px;
    }
}

img {
    max-width: 100%;
}

header {
    color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

header .container {
    background-color: #000e5f;
    opacity: 0.7;
    padding-top: 28px;
    padding-bottom: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

header .container h2 {
    color: inherit;
    font-size: 28px;
    font-weight: 50;
    font-family: 'TypoSpeed', sans-serif;
}

header .container h2 span {
    font-size: 28px;
    font-weight: 50;
    font-family: 'Varino', sans-serif;
}

header .container nav {
    display: -ms-grid;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(4, auto);
}

@media (max-width: 767px) {
    header .container nav {
        display: none;
    }
}

header .container nav a {
    color: inherit;
    font-size: 20px;
    text-decoration: none;
}

header.is-scrolling {
    background-color: #12002f;
}

header.is-scrolling .container {
    padding-top: 16px;
    padding-bottom: 16px;
}

main section.banner {
    color: #fff;
    position: relative;
    background-color: #12002f;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-position: top right;
    background-size: cover;
}

main section.banner:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;
    background-color: #000000;
    opacity: 0.2;
}

main section.banner .container {
    position: relative;
    z-index: 1;
}

main .backvideo {
    position: fixed;
    z-index: -1;
    background-size: cover;
    background-position: center;
}

@media(min-aspect-ration: 16/9) {
    .backvideo {
        width: 100%;
        height: auto;
        background-position: center;
    }
}

@media(max-aspect-ration: 16/9) {
    .backvideo {
        height: 100%;
        width: auto;
        background-position: center;
    }
}

@media (max-width: 767px) {
    main section.projects .container {
        margin-top: 30vw;
        width: 100%;
        height: 5vh;
    }
}

@media (max-width: 767px) {
    main section.projects .container h2 {
        margin-top: 30vw;
        font-size: 3rem;
        font-family: 'Varino', sans-serif;
    }
}

main section.projects .container {
    margin-top: 5vw;
}

main section.projects .container h2 {
    font-size: 3rem;
    font-family: 'Varino', sanserif;
    color: #ffffff;
}

@media (max-width: 767px) {
    main section.banner .container h3 {
        font-size: 20px;
    }
}

main .projects {
    padding-top: 64px;
    padding-bottom: 64px;
}

main .projects .projects-grid {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-bottom: 32px;
}

@media (max-width: 768px) {
    main .projects .projects-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    main .projects .projects-grid {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
}



main .projects .projects-grid #p1{
    background-image: url("/TECHetc/assets/images/counterstrike.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p2{
    background-image: url("/TECHetc/assets/images/bridgethegap.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p3{
    background-image: url("/TECHetc/assets/images/electrotech.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p4{
    background-image: url("/TECHetc/assets/images/code2duo.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p5{
    background-image: url("/TECHetc/assets/images/robozigger.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p6{
    background-image: url("/TECHetc/assets/images/instantcircuitmaker.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p7{
    background-image: url("/TECHetc/assets/images/mathmania.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p8{
    background-image: url("/TECHetc/assets/images/instantcricket.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p9{
    background-image: url("/TECHetc/assets/images/chess.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p10{
    background-image: url("/TECHetc/assets/images/instaplan.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p11{
    background-image: url("/TECHetc/assets/images/ballpool.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p12{
    background-image: url("/TECHetc/assets/images/extempore.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p13{
    background-image: url("/TECHetc/assets/images/nfs.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p14{
    background-image: url("/TECHetc/assets/images/ecarrom.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p15{
    background-image: url("/TECHetc/assets/images/huntforfun.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p16{
    background-image: url("/TECHetc/assets/images/modeldisplay.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p17{
    background-image: url("/TECHetc/assets/images/coderestyle.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
main .projects .projects-grid #p18{
    background-image: url("/TECHetc/assets/images/quizzard.png");
    /* 856px x 634px */
    border-radius: 16px;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

main .projects .projects-grid .project .content {
    opacity: 0;
    color: #fff;
    padding: 16px;
    background-color: rgba(64, 39, 68, 0.8);
    -webkit-transition: 0.4s;
    transition: 0.4s;
}

main .projects .projects-grid .project .content h3 {
    font-size: 32px;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    main .projects .projects-grid .project .content h3 {
        font-size: 28px;
    }
}

main .projects .projects-grid .project .content p {
    font-size: 18px;
    margin-bottom: 16px;
}

@media (max-width: 1024px) {
    main .projects .projects-grid .project .content p {
        font-size: 16px;
    }
}

main .projects .projects-grid .project:hover .content {
    opacity: 1;
}

main .projects .center {
    text-align: center;
}


@media (max-width: 767px) {
    .hide-mob {
        display: none;
    }
}


/*# sourceMappingURL=main.css.map */